#body_fondo{
    background-color: #339966;
}
body{
    font-family: "Indie Flower", sans-serif;
}

#menu_navegacion{
    width: 90%;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E0E0E0;
    -webkit-border-radius: 3px 3px 50px 50px;
    border-radius: 3px 3px 50px 50px;
    -webkit-box-shadow: 5px 5px 5px 2px #AEADC2;
    box-shadow: 5px 5px 5px 2px #808080;
    float:top;
    position:relative;
    z-index:99999;
}
#cuerpo_principal{
    width: 80%;
    min-width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C8C8C8;
    margin-top: -20px;
    position:relative;
    z-index:88888;
    
    -webkit-border-radius: 3px 3px 20px 20px;
    border-radius: 3px 3px 20px 20px;
    
    -webkit-box-shadow: 0 5px 5px 2px #AEADC2;
    box-shadow: 0 5px 5px 2px #808080;
    
    outline: 2px dashed #339966;
    outline-offset: -7px;
}

#cont_cuerpo_principal{
    position:relative;
    width: 90%;
    min-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

#pie{
    height: 50px;
    width: 50%;
    margin-top: -15px;
    bottom: 0px;
    alignment-baseline: central;
    position:relative;
    z-index:77777;
    background: #C8C8C8;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 0 0 40px 40px;
    border-radius: 0 0 40px 40px;
    overflow: hidden;
}

#pie p{
    padding-top: 15px;
    font: bold 12px "Indie Flower", sans-serif;
    
}